#navbar {
    /* background-color: #2679f5; */
    /* background-color: #003459; */
    background: #1A5276;

    /* background-color: linear-gradient(#003459, pink); */
    /* background-color: white; */
    color: white
}


/* .table-borderless {
    display: block;
  }
  
.table-borderless td {
    display: inline-block;
  }
   */
 /* .container div {display:inline-block;vertical-align:top;} */
/* .table-test th td {display:inline-block;vertical-align:top} */

nav a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.container a {
    color: white;

}

#include_header {
    /*padding-bottom: 50px*/
}

header .container{
    /*background-color: black;*/
    color: white;
}

footer .cover{
    /*background-color: black;*/
    color: black;
}

#navbarResponsive a {
    color: white;
}

#navbarResponsive ul {
    /*margin-right: 100px*/
}

#navbarResponsive a:hover {
    color: #f15532;
}

#navbarResponsive li {
    padding-left: 50px
}

/*.container{*/
    /*text-align: center;*/
/*}*/
.topcover{
    color: white;
    /*margin-top: 50px*/
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    /* background: #4088f5; */
    /* background: #014779b7; */
    background: #1A5276;
    /* background-color: rgb(2, 0, 19); */

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

html,body {
            height: 83%;
            /*width:100%*/
        }

table {
    border-spacing:100px;
}

site-footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.borderless td, .borderless th {
    border: none;
}

#bottomconver {
    /*position: fixed;
    bottom: 0px
    left:0px;
    height: 100px;*/
    padding-top: 15px;
    padding-right: 50px;
    background: #1A5276;
    text-align:right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}