.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f8f8f8; }
.highlight .c { color: #408080; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #666666 } /* Literal.Number.Bin */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sa { color: #BA2121 } /* Literal.String.Affix */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .dl { color: #BA2121 } /* Literal.String.Delimiter */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #0000FF } /* Name.Function.Magic */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .vm { color: #19177C } /* Name.Variable.Magic */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */




#topCover {
    background: #6e54da;
    box-shadow: 0px -10px 20px 2px rgba(120,120,120,0.2) inset;
    /* min-height: initial; */
    margin-top: 4%;
    min-height: 28%
    
  }
  #topCover #appTitle {
    color: #fff;
    font-size: 4.3em;
    margin: 0px;
    padding: 4% 0px 10px;
    font-weight: 100;
    text-align: center;
  }
  #topCover #appTitle b {
    font-weight: 400;
  }
  #topCover #appSubtitle {
    color: #fff;
    font-size: 2em;
    margin: 0px;
    padding: 0px;
    text-align: center;
    /* position: initial */
    margin-bottom: 20px;
  }
  /* @media (max-width: 768px) {
    #topCover #appTitle {
      font-size: 6em;
    }
  } */

  .header-holder {
    background: #483D8B; 
    border:brown;
    font-weight: 200;
    /* max-height: 40% */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  
  .main-menu .a{
      color: white
  }

  .cover {
    min-height: 100%;
    background: #eee;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    padding: 10px 0px;
  }

  .header-holder .main-menu ul {
      margin-left: 34%
  }
  
  @media (max-width: 768px) {
    .cover {
      padding: 0px;
    }
  }
  .cover .headlinesWrap {
    padding-bottom: 10px;
  }
  .cover h1 {
    font-weight: 600;
    margin: 0px 0px;
    font-size: 2em;
  }
  .cover h2 {
    font-weight: 300;
    font-size: 1.3em;
    margin: 0px 0px;
  }
  .cover p {
    font-size: 1.1em;
    font-weight: 400;
  }
  .cover .vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }


  .infoCard {
    background: #fff;
    margin-bottom: 20px;
  }
  @media (min-width: 768px) {
    .infoCard {
      box-shadow: 0px 0px 20px 2px rgba(120,120,120,0.1);
    }
  }
  .infoCard .infoSubheadline {
    background: #f3f3f3;
    padding: 20px 30px;
  }
  .infoCard .infoSubheadline h1,
  .infoCard .infoSubheadline h2,
  .infoCard .infoSubheadline p {
    color: #888;
  }
  .infoCard .infoSubheadline h1 {
    font-weight: 500;
  }
  .infoCard .infoSubheadline h2,
  .infoCard .infoSubheadline p {
    font-weight: 400;
  }
  .infoCard .infoSubheadline.backgrounded {
    background: #8970ef;
  }
  .infoCard .infoSubheadline.backgrounded h1,
  .infoCard .infoSubheadline.backgrounded h2,
  .infoCard .infoSubheadline.backgrounded p {
    color: #fff;
  }
  .infoCard .actLink {
    background: #8970ef;
  }
  .infoCard .actLink h1,
  .infoCard .actLink h2,
  .infoCard .actLink p,
  .infoCard .actLink a {
    color: #fff;
  }
  .infoCard .actLink:hover {
    opacity: 0.9;
  }
  .infoCard .infoBody {
    padding: 30px;
  }
  .infoCard .infoBodyScroll {
    padding: 30px;
    overflow-x: scroll;
  }
  .infoCard .infoBody >.infoHeadline {
    margin: 15px 0px;
  }
  .infoCard .infoBody >.infoHeadline h1,
  .infoCard .infoBody >.infoHeadline h2,
  .infoCard .infoBody >.infoHeadline p {
    margin: 5px 0px;
    font-weight: 400;
    color: #333;
  }
  .infoCard .infoBody >.infoHeadline h1 {
    font-size: 1.8em;
  }
  .infoCard .infoBody >.infoHeadline h2 {
    font-size: 1.4em;
    padding-bottom: 2px;
    border-bottom: 2px solid #ddd;
  }
  .infoCard .infoBody h2 {
    font-weight: 400;
    color: #666;
    font-size: 1.6em;
  }

  #contentCover  .performance {
    margin: 10px 0px;
  }
  #contentCover  .performance .institution {
    font-style: italic;
    font-weight: 100;
  }
  #contentCover  .performance .date {
    font-weight: normal;
  }
  #contentCover  .performance tr.human-row {
    background: #f5f5f5;
  }
  #contentCover  .performance td,
  #contentCover  .performance th {
    text-align: center;
    max-width: 250px;
    background: #0000;
  }
  #contentCover ul.list-inline {
    margin-left: 0px;
    text-align: center;
  }
  #contentCover ul.list-inline li {
    padding-left: 2px;
    padding-right: 2px;
  }
  #contentCover {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

  #contentCover th{
    font-weight: 400
}
  